
body {
  background: url("../images/11-min.png");
  background-repeat: no-repeat;
  background-size: 1440px 11000px;
  font-family: sans-serif;
}

.lang{
  width: 100%;
  height: 60px;
  text-align: right;
}

.header{
  font-weight: bold;
  font-size: 20px;
  color: rgb(20, 20, 20);
  margin:0px 20px 0px 20px;
  width: 100px;
  float: right;
  clear: both;
}

.department_name{
  font-size:40px;
  text-align:center;
  font-weight:bold;
  margin-bottom: 100px;
}

/* ここから サイドメニュー*/
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(255, 255, 255, 0.25); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav li{
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 12px;
  color: rgb(20, 20, 20);
  background-color: rgba(255, 255, 255, 0.50);
  display: block;
  white-space: nowrap;
  overflow: hidden; 
  transition: 0.3s;
}
.sidenav li:hover {
  color: rgb(20, 20, 20);
  background-color: rgba(255, 255, 255, 0.85);
  transition: 0.25s ease-in;
}
.sidenav .menu-title{
  background-color: rgb(255, 255, 255);
}
.sidenav .menu-title:hover{
  background-color: rgb(255, 255, 255);
}
.department_name{
  margin:100px 100px 60px 100px;
}
.sidenav a{
  text-decoration: none;
  color: rgb(20, 20, 20);
}
.sidenav span{
  font-weight: 700;
  color: rgb(20, 20, 20)
}
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn:hover{
  cursor: pointer;
}
.openBtn{
  transition: 0.3s;
}
.openBtnIcon{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
/* ここまでサイドメニュー */
.contents{
  margin-bottom: 200px;
}
.link-holder{
  position: relative;
  max-width: 1000px;
  min-height: 250px;
  margin-left: 15%;
  margin-bottom: 50px;
}

.link-photo{
  position: relative;
  width: 200px;
}

a {
  color:rgb(20, 20, 20);
  text-decoration: underline rgb(20, 20, 20);
}

.link-title{
  margin: 4px 0px 4px 30px;
  padding-top: 10px;
  color:rgb(20, 20, 20);
  text-decoration: rgb(20, 20, 20);
}
.link-venue{
  margin: 4px 0px 4px 30px;
  font-size: 16px;
}
.link-date{
  margin: 4px 0px 4px 30px;
  font-size: 16px;
}
.link-description{
  margin: 4px 0px 4px 30px;
  font-size: 12px;
}
.link-photo{
  margin: 4px 20px 4px 20px;
}

.CP{
  font-weight: 200;
  text-align: center;
  font-size: 10px;
  color: rgb(20, 20, 20);
}