body {
  margin:0;
  width:100vw;
  overflow-x: hidden;
  height:auto;
  font-family: sans-serif;
  background-repeat:no-repeat;
  background-size:cover;
  position: relative;
  padding: 0;
}

.switch{
  font-weight: bold;
  font-size: 1.4vw;
  color: rgb(60, 60, 60);
  text-align: right;
  margin-right: 2vw;
  margin-top:-2.0vw;
  width: 5vw;
  float: right;
  clear: both;
  cursor: pointer;
}
.switch:hover{
  opacity:0.5;
}

/* ここから サイドメニュー*/
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(255, 255, 255, 0.25); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav li{
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 12px;
  color: rgb(20, 20, 20);
  background-color: rgba(255, 255, 255, 0.50);
  display: block;
  white-space: nowrap;
  overflow: hidden; 
  transition: 0.3s;
}
.sidenav li:hover {
  color: rgb(20, 20, 20);
  background-color: rgba(255, 255, 255, 0.85);
  transition: 0.25s ease-in;
}
.sidenav .menu-title{
  background-color: rgb(255, 255, 255);
}
.sidenav .menu-title:hover{
  background-color: rgb(255, 255, 255);
}
.department_name{
  margin:100px 100px 60px 100px;
}
.sidenav a{
  text-decoration: none;
  color: rgb(20, 20, 20);
}
.sidenav span{
  font-weight: 700;
  color: rgb(20, 20, 20)
}
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn:hover{
  cursor: pointer;
}
.openBtn{
  transition: 0.3s;
}
.openBtnIcon{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  z-index: 20;
}
/* ここまでサイドメニュー */
/* 
#showloading{
  text-align: center;
  margin: -2vw;
  padding: 0;
  width: 100vw;
  height:100vw;
  position:fixed;
  background-color: white;
  transition: 1.0s;
  z-index: 10;
} */


/* #loading-image{
  width: 10vw;
  position: fixed;
  z-index: 5;
  left: 45vw;
  top: 45vh;
  transition: 1.0s;
} */
#en-jp{
  position: absolute;
  margin-top:-2.5vw;
  right:2vw;
}

h1 {
  font-size: 3vw;
  color: white;
}

#university-name{
  position: absolute;
  margin-top:-4vw;
  width: 100vw;
  text-align: center;
  font-size: 1vw;
  color: rgb(60, 60, 60);
}

#studioTopDiv {
  /* background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: saturate(70%); */
  margin:0;
  padding:0;
  margin-top: 5vw;
  height: 40vw;
  width: 100vw;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#studioTopPhoto{
  background-size: cover;
  height: 40vw;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(80%);
  position: absolute;
  z-index:1;
}

#main-contents{
  width:100vw;
  height:auto;
  padding:0;
  margin-top:-2vw;
  background-repeat:no-repeat;
  background-size: 150px;
  background-size: 100vw auto;
  color:rgb(99, 99, 99);
}

.studio-title{
  margin-bottom:auto;
  font-size:4vw;
  top:15vw;
  width:100vw;
  position: absolute;
  z-index: 2;
}
#studio-description{
  width:50vw;
  font-size: 1.2vw;
  line-height: 2.5vw;
}
#studioGalleryDiv{
  margin-top:0;
  width:50vw;
  height:35vw;
  text-align: left;
  overflow:hidden;
  background-color:rgb(255, 255, 255, 0.5);
}
.studio-photo{
  width:50vw;
  height:35vw;
	object-fit:cover;
  position: absolute;
  overflow: hidden;
}

#studioPhotoThumbnails{
  width:50vw;
  text-align: left;
  height: 9vw;
  margin-top:1vw;
  right:18vw;
}

.studio-photo-thumbnail{
  z-index: 3;
  height: 14vw;
  overflow: hidden;
  vertical-align:top;
  padding:0;
  margin:0.5vw;
  transition:0.5s;
  height:7vw;
	object-fit:cover;
}

.studio-photo-thumbnail:hover{
  opacity: 0.5;
  cursor: pointer;
}

#studio-about{
  margin:0;
  padding-top:10vw;
  margin-left:10vw;
  padding-bottom:3vw;
}

#studio-description{
  width:50vw;
  font-size: 1.2vw;
  line-height: 2.5vw;
}

.paragraph-name{
  font-size:3vw;
  padding-top:5vw;
  padding-bottom: 0;
}

#studio-faculty{
  top:-3vh;
  width:20vw;
  left: 20vw;
  margin:0;
  padding:0;
  font-size: 1.5vw;
}

#about-faculty{
  position: relative;
  vertical-align:bottom;
  height: 20vw;
  padding:0;
}
#faculty-photo{
  bottom: 0;
  left: 0vw;
} 
#faculty-photo img{
  width:15vw;
}

.CP{
  margin-top:10vw;
  font-weight: 200;
  text-align: center;
  font-size: 10px;
  color: rgb(70, 70, 70);
}

/* h1, h2 {
  font-weight: 400;
  color: steelblue;
}
#studios > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}
.studio-title {
  font-weight: bold;
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
}

#studio {
    margin: 1em 0;
    padding: 0.5em;
    background: #f8f8f8;
    min-height: 3em;
  } */

  /* 以下追加 */

   /* #studioTopDiv{
    position: absolute;
    width: 100%;
  }  */

  /* #studioPhotoDiv {
    height: 500px;
    position: absolute;
    width: 100%;
  } */
  
  /* #studioPhotosDiv img {
    
    position: absolute;
    border: 1px solid white;
    box-shadow: 5px 5px 10px gray;
    width: 1px;
    z-index:5;
  } */

  /* #studioPhotoThumbnails{
    position: relative;
    top: 500px;
    background-color: aquamarine;
  } */

  /* .studio-photo{
    width: 500px;
  } */
