body {
  margin:0;
  width:100vw;
  height:auto;
  font-family: sans-serif;
  position: relative;
  padding: 0;
  overflow-x: hidden;
}

#background{
  margin:0;
  width:100vw;
  height:auto;
  background-image: url('../images/editorialDesign.png');
  background-repeat:no-repeat;
  background-size:cover;
  position: relative;
  padding: 0;
  overflow-x: hidden;
}

.switch{
  font-weight: bold;
  font-size: 2vw;
  color: rgb(20, 20, 20);
  text-align: right;
  margin:0px 2vw 0px 2vw;
  width: 100px;
  float: right;
  clear: both;
}

/* ここから サイドメニュー*/
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(255, 255, 255, 0.25); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav li{
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 12px;
  color: rgb(20, 20, 20);
  background-color: rgba(255, 255, 255, 0.50);
  display: block;
  white-space: nowrap;
  overflow: hidden; 
  transition: 0.3s;
}
.sidenav li:hover {
  color: rgb(20, 20, 20);
  background-color: rgba(255, 255, 255, 0.85);
  transition: 0.25s ease-in;
}
.sidenav .menu-title{
  background-color: rgb(255, 255, 255);
}
.sidenav .menu-title:hover{
  background-color: rgb(255, 255, 255);
}
.department_name{
  margin:100px 100px 60px 100px;
}
.sidenav a{
  text-decoration: none;
  color: rgb(20, 20, 20);
}
.sidenav span{
  font-weight: 700;
  color: rgb(20, 20, 20)
}
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn:hover{
  cursor: pointer;
}
.openBtn{
  transition: 0.3s;
}
.openBtnIcon{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
/* ここまでサイドメニュー */

#showloading{
  text-align: center;
  margin: -2vw;
  padding: 0;
  width: 100vw;
  height:100vw;
  position:fixed;
  background-color: white;
  transition: 1.0s;
  z-index: 10;
}


#loading-image{
  width: 10vw;
  position: fixed;
  z-index: 5;
  left: 45vw;
  top: 45vh;
  transition: 1.0s;
}



  .hidden {
  display: none;
  }

h1 {
  font-size: 3vw;
  color: white;
  background-color: rgb(0, 0, 0, 0.1);
}

#university-name{
  width: 100vw;
  text-align: center;
  font-size: 1vw;
  color: rgb(242, 242, 242);
}

#studioTopDiv {
  margin-top: 10vw;
  height: 50vw;
  position: relative;
  overflow: hidden;
}
.studio-title{
  position: absolute;
  z-index: 2;
  left: 13vw;
}
.studio-photo{
  z-index:1;
  position: absolute;
  left: 10vw;
}

#studioPhotoThumbnails{
  height: 14vw;
  margin-top:1vw;
  position: relative;
  left: 10vw;
  /* text-align: center; */
  /* background-color: rgb(0, 0, 0, 0.1); */
}

.studio-photo-thumbnail{
  /* padding-top:1.5vw; */
  height: 13vw;
  overflow: hidden;
  vertical-align:top;
  padding-right: 1vw;
  padding-left: 1vw;
  margin:0;
}

#studio-about{
  margin:0;
  padding:0;
  margin-left:10vw;
  padding-bottom:15vw;
}

#studio-description{
  width:50vw;
  font-size: 1.2vw;
  line-height: 2.5vw;
}

.paragraph-name{
  padding-top:3vw;
}
#studio-faculty{
  font-size: 1.5vw;
}

.CP{
  font-weight: 200;
  text-align: center;
  font-size: 10px;
  color: rgb(20, 20, 20);
}

/* h1, h2 {
  font-weight: 400;
  color: steelblue;
}
#studios > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}
.studio-title {
  font-weight: bold;
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
}

#studio {
    margin: 1em 0;
    padding: 0.5em;
    background: #f8f8f8;
    min-height: 3em;
  } */

  /* 以下追加 */

   /* #studioTopDiv{
    position: absolute;
    width: 100%;
  }  */

  /* #studioPhotoDiv {
    height: 500px;
    position: absolute;
    width: 100%;
  } */
  
  /* #studioPhotosDiv img {
    
    position: absolute;
    border: 1px solid white;
    box-shadow: 5px 5px 10px gray;
    width: 1px;
    z-index:5;
  } */

  /* #studioPhotoThumbnails{
    position: relative;
    top: 500px;
    background-color: aquamarine;
  } */

  /* .studio-photo{
    width: 500px;
  } */
