

body {
  background: url("../images/11-min.png");
  background-repeat: no-repeat;
  background-size: 1440px 11000px;
  font-family: sans-serif;
}
.lang{
  width: 100%;
  height: 60px;
}
.header{
  font-weight: bold;
  font-size: 20px;
  color: rgb(20, 20, 20);
  text-align: right;
  margin:0px 20px 0px 20px;
  width: 100px;
  float: right;
  clear: both;
}

/* ここから サイドメニュー*/
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(255, 255, 255, 0.25); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav li{
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 12px;
  color: rgb(20, 20, 20);
  background-color: rgba(255, 255, 255, 0.50);
  display: block;
  white-space: nowrap;
  overflow: hidden; 
  transition: 0.3s;
}
.sidenav li:hover {
  color: rgb(20, 20, 20);
  background-color: rgba(255, 255, 255, 0.85);
  transition: 0.25s ease-in;
}
.sidenav .menu-title{
  background-color: rgb(255, 255, 255);
}
.sidenav .menu-title:hover{
  background-color: rgb(255, 255, 255);
}
.department_name{
  margin:100px 100px 60px 100px;
}
.sidenav a{
  text-decoration: none;
  color: rgb(20, 20, 20);
}
.sidenav span{
  font-weight: 700;
  color: rgb(20, 20, 20)
}
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn:hover{
  cursor: pointer;
}
.openBtn{
  transition: 0.3s;
}
.openBtnIcon{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
/* ここまでサイドメニュー */
.topBtn{
  transition: 0.3s;
}
.topBtnIcon{
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 36px;
  margin-right: 50px;
  cursor: pointer;
  color: rgb(20, 20, 20); 
  transition: 0.1s; 
}
#myOpenBtn{
  transition: 0.25;
}
#myTopBtn{
  opacity: 0;
  transition: 0.25;
}

.department_description{
  margin:50px 300px 500px 300px;
}
#department_description_en{
  margin:100px 300px 500px 300px;
}

h1 {
  font-weight: bold;
  font-size: 70px;
  color: rgb(20, 20, 20);
  text-align: center;
  margin-top:0px;
  margin-bottom:0px;
}
h2{
  font-weight: bold;
  font-size: 40px;
  color: rgb(20, 20, 20);
  text-align: center;
}
h3{
  font-weight: bold;
  font-size: 30px;
  color: rgb(20, 20, 20);
}

h4{
  font-weight: 300;
  text-align: center;
  color: rgb(20, 20, 20);
  margin:50px 0px 30px 0px;
}
.section_title{
  margin:100px 80px 100px 80px;
}
.about{
  margin:100px 50px 100px 50px;
}
.about_title{
  margin:100px 100px 100px 100px;
}
.about_description{
  margin:100px 150px 100px 150px;
}
hr{
  width: 90%;
  line-height: 4px;
  color: rgb(20, 20, 20);
}
.studio_block{
  margin:200px 50px 200px 50px;
}
.studio_contents{
  margin:100px 150px 100px 150px;
}
.studio-photo{
  width: 400px;
  height:300px;
}
.studio-title{
  font-size: 20px;
}
.studio-holder{
  margin-left: 30px;
  margin-bottom: 30px;
}
p.studio-title{
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color: rgb(20, 20, 20);
  width: 400px;
  margin-top: 10px
}
.faculty_block{
  margin:200px 50px 200px 50px;
}
.faculty_contents{
  margin:100px 150px 100px 150px;
}

.faculty-photo{
width: 200px;
height: 200px;
}

p.faculty-name{
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  margin-top: 0px;
  color: rgb(20, 20, 20);
}
p.faculty-title{
  font-weight: 700;
  text-align: left;
  font-size: 16px;
  color: rgb(20, 20, 20);
}
p.faculty-studio{
  font-weight: 700;
  text-align: left;
  font-size: 16px;
   color: rgb(20, 20, 20);
}
p.faculty-major{
  font-weight: 700;
  text-align: left;
  font-size: 12px;
  color: rgb(20, 20, 20);
}
.faculty-text{
  width: 180px;
  height:200px;
  margin-top:0px;
}
.faculty-link{
  font-weight: 700;
  text-align: left;
  font-size: 12px;
  color: rgb(20, 20, 20);
}
#faculties > div{
  margin: 2em 0;
  padding: 0.5em;
  min-height: 3em;
  width: 200px;
  display: inline-block;
  margin-bottom: 100px;
}

#studios > div {
  margin: 2em 0;
  padding: 0.5em;
  min-height: 3em;
  width: 400px;
  display: inline-block;
  margin-right: 50px;
  margin-left: 40px;
  margin-bottom: 100px;
}

#studios_en > div {
  margin: 2em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}

.studio-title {
  font-weight: bold;
}
.studio-title-en {
  font-weight: bold;
}
.access_block{
  margin:200px 50px 200px 50px;
}
.access_contents{
  margin:100px 150px 100px 150px;
}

#map{
  width: 600px; 
  height: 450px;

}

.CP{
  font-weight: 200;
  text-align: center;
  font-size: 10px;
  color: rgb(20, 20, 20);
}